<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>welcome</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<h1 align="center">株式会社ソフトユージング新人教育管理サイト<br>メニュー</br></h1>
<hr>
<div id="typein" align="center">
    <table>
        <tr>
        </tr>
        <tr>
            <td></td><td></td><td><a class="btn-primary" th:href="@{/newMemberPage}">１．新規メンバー</a></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></td>
            <td><a class="btn-primary" th:href="@{/memberManagementPage}">２．メンバー管理</a></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <td></td><td></td><td><a th:class="btn-primary" th:href="@{/newGradePage}">３．新規成績</a></td><td></td><td></td><td></td><td>
    </td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></td>
        <td><a th:class="btn-primary" th:href="@{/gradeManagementPage}">４．成績管理</a></td>
        <tr>
            <td></td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
    </table>
</div>
<footer>
    <hr>
</footer>
</body>
</html>